body {
  background-color: #666;
}

.field {
  display: flex;
  padding: 10px;
  width: 25%;
  margin-left: 37.5%;
  color: #000;
  font-size: 1.3em;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 2px solid #aaa719;
  background-color: #d4d37f;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.box:last-child {
  margin-bottom: 0;
}

button.btn {
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: .65em;
  color:#fff;
}


.delete {
  background: transparent;
  border: none;
}

.delete:hover {
  color: #9e0c0f;

}

.edit {
  background: transparent;
  border: none;
}

.edit:hover {
  color: #3338ff;
}

.btn.red:hover {
  background-color: #b6821a;
  border: 2px solid #946912;
}

.btn.new {
  background: green;
  border: 2px solid #006600;
  width: 52%;
  margin-bottom: 2%;
}

.btn.new:hover {
  background: #187a11;
  border: 2px solid #006600;
}

.btn.success {
  margin: auto;
  text-align: center;
  background: #d7d032;
  border: 2px solid #bcb524;
}
